.page-container {
    display: flex;
    height: auto;
    width: calc(100% - 300px);
    margin-left: 300px;
  }
  
  .content-container {
    flex: 1;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    overflow: auto;
  }
  
 
  .elections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  .election-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 30px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
   
  }
  
  .election-details-container {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
  }

  .election-image {
    width: 80%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
    
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  p {
    text-align: center;
    margin-top: auto;
  }
  
  .view-candidates-button {
    background-image: linear-gradient(to right, #48cadb, #0babc0);
    box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-candidates-button:hover {
    background-color: #0babc0;
  }
  
  .view-candidates-button:active {
    background-color: #0babc0;
  }

  @media (max-width: 800px) {
    .election-item img {
      display: none;
    }
  }

  .details-election-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .candidates-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .candidate-item {
    width: 500px;
    height: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .candidate-item h2 {
    margin-bottom: 5px;
  }
  
  .candidate-item p {
    margin-bottom: 10px;
  }
  
  .candidate-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .close-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    border: none;
    border-radius: 0;
   
  }
  
  .search-container input {
    margin-right: 5px;
    padding: 5px;
  }
  
  .search-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .search-icon {
    font-size: 18px;
    color: #ffffff;
  }  
  
  