.button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: #9D27CD;
    border: none;
  }